
.zoom{
    font-size: 40;

}

.out{
    font-size: 16;
    
}


/* 
.vip{
    background-color: teal;
    width:50%;
    text-align: center;
    
}


.dark{
    background-color:black;
    color:#fff;
}

*/